:root {
  /* Colors */
  --clr-primary-50: #f6f6f6;
  --clr-primary-100: #e7e7e7;
  --clr-primary-200: #d1d1d1;
  --clr-primary-300: #b0b0b0;
  --clr-primary-400: #7f7f7f;
  --clr-primary-500: #6d6d6d;
  --clr-primary-600: #5d5d5d;
  --clr-primary-700: #4f4f4f;
  --clr-primary-800: #454545;
  --clr-primary-900: #3d3d3d;
  --clr-primary-950: #262626;
  --clr-primary-black: #151515;

  --hero-height: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--clr-primary-black);
  color: var(--clr-primary-50);
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 2.5rem;
  color: var(--clr-primary-50);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav a,
nav a:visited {
  color: var(--clr-primary-50);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--clr-primary-200);
}

nav a:active {
  color: var(--clr-primary-300);
}

#hero {
  height: var(--hero-height);
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--hero-height);
  position: fixed;
  z-index: -1;
}

#hero,
.layer {
  min-height: 800px;
  max-width: 1900px;
  margin: 0 auto;
  overflow: hidden;
}

.layer-bg {
  background-image: url(images/hero-bg.png);
  background-size: cover;
}

.layer-hero {
  background-image: url(images/hero-hero.png);
  background-size: cover;
}

.layer-mid {
  background-image: url(images/hero-mid.png);
  background-size: cover;
}

.layer-fg {
  background-image: url(images/hero-fg.png);
  background-size: cover;
}

#about {
  background-color: var(--clr-primary-black);
  height: 250px;
}
